@rendermode InteractiveServer
@inject ShoppingCart ShoppingCart

<div class="card h-100">
    <img src="/img/no_cheese.png" class="card-img-top" alt="@Cheese.Name">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">@Cheese.Name</h5>
            <h5><span class="badge bg-danger">@Cheese.Price.ToString("C")</span></h5>
        </div>
        <p class="card-text">
            <span class="badge bg-primary">@Cheese.Type</span>&nbsp;
            <span class="badge bg-success">@Cheese.Strength</span>
        </p>
        <p class="card-text">@Cheese.Description</p>
        <EditForm Model="quantity" OnSubmit="AddToCart">
            <div class="row">
                <div class="col">
                    <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                        @for (var i = 1; i <= 5; i++)
                        {
                            <option value="@i">@(i * 100)g</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100">Add to cart</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }
    private int quantity = 1;

    public void AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
    }
}
